
*.apk
build/
local.properties
proguard/
*.log
bin/
gen/
out/
*.class
captures/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/libraries
*.jks
google-services.json
.externalNativeBuild
.gradle/